@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@300;400;700&display=swap");
@import url(components/navbar.css);
@import url(components/cards.css);
@import url(components/projects.css);
@import url(components/buttons.css);
@import url(components/contact.css);
@import url(components/gallery.css);

* {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

a:hover {
  color: #d8d8d8;
}

li {
  list-style: none;
}

.active-page {
  color: #222831;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.page-top {
  background-color: #222831;
  background-size: contain;
  height: 90vh;
  padding-top: 10em;
}

.page-intro {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 56px;
  padding-top: 48px;
  padding-bottom: 16px;
  color: #eeeeee;
}

.page-description {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 56px;
  padding-top: 8px;
  padding-bottom: 48px;
  color: #eeeeee;
  text-align: center;
}

@media (max-width: 992px) {
  .page-top {
    background-color: #222831;
    height: 100vh;
    padding-top: 10em;
  }
  .page-intro {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 56px;
    padding-top: 48px;
    padding-bottom: 16px;
    color: #eeeeee;
    align-items: center;
    margin: 0 1em;
  }

  .page-description {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 56px;
    padding-top: 8px;
    padding-bottom: 48px;
    color: #eeeeee;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .page-top {
    background-color: #222831;
    height: auto;
    padding-top: 10em;
  }
}
