.btn-ghost {
  border: 2px solid #393e46;
  border-radius: 32px;
  padding: 8px 12px;
  background-color: transparent;
  font-size: 12px;
  line-height: normal;
  color: #eeeeee;
  cursor: pointer;
}

.btn-ghost:hover {
  background-color: #393e46;
  color: #eeeeee;
}

.website-buttons .btn-ghost {
  margin: 2em 1em;
  height: 2em;
}

.btn-contact {
  border: none;
  border-radius: 8px;
  padding: 16px;
  background: #222831;
  font-size: 16px;
  line-height: normal;
  color: #eeeeee;
  cursor: pointer;
  margin: 0;
}

.btn-contact:hover {
  border-color: #1f4068;
  background-color: #393e46;
}
