.gallery-wrapper {
  background-color: #222831;
  background-size: contain;
  /* height: 800vh; */
  padding-top: 10em;
}

.picture-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.picture-left {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 2em;
  margin: 8em 0;
}

.picture-left img {
  transition: 0.4s;
  transform: rotate(-15deg);
}

.picture-left img:hover {
  transition: 0.4s;
  transform: rotate(0deg);
  height: 50em;
  width: 50em;
}

.picture-right {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 2em;
  margin: 8em 0;
}

.picture-right img {
  transition: 0.4s;
  transform: rotate(15deg);
}

.picture-right img:hover {
  transition: 0.4s;
  transform: rotate(0deg);
  height: 50em;
  width: 50em;
}

.gallery-image-style {
  height: 40em;
  width: 40em;
  border-radius: 12px;
}

.image-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  border: 0.2em solid #00adb5;
  border-radius: 8px;
}

.image-title {
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  margin-bottom: 2em;
}

.image-description {
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  padding: 2em;
}

@media (max-width: 1280px) {
  .picture-display {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .picture-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 2em 0;
  }

  .picture-left img {
    transition: none;
    transform: none;
  }

  .picture-left img:hover {
    transition: none;
    transform: none;
    height: 80%;
    width: 80%;
  }

  .picture-right {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    margin: 8em 0;
  }

  .picture-right img {
    transition: none;
    transform: none;
  }

  .picture-right img:hover {
    transition: none;
    transform: none;
    height: 80%;
    width: 80%;
  }

  .gallery-image-style {
    height: 80%;
    width: 80%;
    border-radius: 12px 12px 0 0;
  }

  .image-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border: 0.2em solid #00adb5;
    border-radius: 8px;
  }

  .image-title {
    font-family: "Open Sans", sans-serif;
    color: #eeeeee;
    margin: 2em 0;
  }

  .image-description {
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
    color: #eeeeee;
    padding: 2em;
  }
}

@media (max-width: 576px) {
}
