.navbar {
  padding: 1.5em;
  background-color: #00adb5;
  color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20em;
}

.nav-items {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-around;
  gap: 8em;
  /* margin-right: 30px; */
}

.nav-items li {
  display: inline;
  margin-left: 4em;
}

#logo {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 992px) {
  .navbar {
    padding: 1em 0;
  }
  .navbar-container {
    margin: 0;
    padding: 0 0.5em;
    flex-direction: column;
  }
  .nav-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 1em;
  }

  .nav-items li {
    /* display: inline-block; */
    margin-left: 0;
  }
  #logo {
    margin-bottom: 0.5em;
  }
}
